.MainContainer {
  display:flex;
  justify-content: space-around;
  background-color:#CCC;
}

.FlexContainer {
  display:flex;
  flex-direction: row;
}

.App {
  display:flex;
  flex-direction: column;
  line-height: 0.5em;
  margin: 20px;
  width: 1024px;
  padding:24px;
  background-color:white;
}
